{
code = 0;
data =     (
{
"absolute_url" = "http://m.xinli001.com/ceshi/900/";
"ad_title1" = "";
"ad_title2" = "";
"ad_url1" = "";
"ad_url2" = "";
category = "\U6027\U683c\U6d4b\U8bd5";
"category_id" = 2;
"category_main_id" = 0;
"choice_type" = 0;
commentnum = 155;
content = "\U201c\U5c0f\U738b\U5b50\U51fa\U73b0\U5728\U5730\U7403\U4e0a\Uff0c\U540e\U6765\Uff0c\U4e5f\U6b63\U662f\U5728\U8fd9\U91cc\U6d88\U5931\U4e86\U7684\U201d\U3002\U8fd8\U8bb0\U5f97\U90a3\U4e2a\U5fe7\U4f24\U53c8\U53ef\U7231\U7684\U6545\U4e8b\U300a\U5c0f\U738b\U5b50\U300b\U5417\Uff1f\U4f60\U4f1a\U662f\U91cc\U9762\U7684\U8c01\U5462\Uff1f\U98de\U884c\U5458\Uff1f\U72d0\U72f8\Uff1f\U8fd8\U662f\U90a3\U6735\U8ba9\U5c0f\U738b\U5b50\U9b42\U7275\U68a6\U7ed5\U7684\U73ab\U7470\U82b1\Uff1f";
cover = "http://image.xinli001.com/20130817/165914d455d13a4815f095.jpg";
created = "2013-08-17 14:00";
"cuxiao_time" = "<null>";
    cuxiaojia = 0;
    favnum = 2;
    id = 900;
    "is_completed" = 1;
    "is_fufei" = 0;
    "is_recommend" = 1;
    "is_removed" = 0;
    program = "";
    questionnum = 18;
    "require_login" = 0;
    title = "\U4f60\U662f\U5c0f\U738b\U5b50\U91cc\U7684\U8c01\Uff1f";
    type = jump;
    viewnum = 60620;
    "viewnum_add" = 0;
    yuanjia = 0;
    },
    {
    "absolute_url" = "http://m.xinli001.com/ceshi/99897417/";
    "ad_title1" = "";
    "ad_title2" = "";
    "ad_url1" = "";
    "ad_url2" = "";
    category = "\U6027\U683c\U6d4b\U8bd5";
    "category_id" = 2;
    "category_main_id" = 0;
    "choice_type" = 1;
    commentnum = 163;
    content = "\U5934\U8111\U7279\U5de5\U961f\U91cc\U7684\U4e94\U79cd\U57fa\U672c\U60c5\U7eea\Uff0c\U5728\U6211\U4eec\U7684\U5927\U8111\U4e2d\U76f8\U7231\U76f8\U6740\U3002\U4f60\U77e5\U9053\U54ea\U79cd\U60c5\U7eea\U662f\U4f60\U5934\U8111\U4e2d\U7684\U6307\U6325\U5b98\U5417\Uff1f\U8ba9\U8fd9\U4e2a\U6d4b\U8bd5\U544a\U8bc9\U4f60\U7b54\U6848\U5427\Uff01\Uff08\U6d4b\U8bd5\U7531\U58f9\U5fc3\U7406\U7f16\U8bd1 \Uff09";
    cover = "http://image.xinli001.com/20151013/100037brqpvfiehpv31nv6.jpg";
    created = "2015-10-13 17:54";
    "cuxiao_time" = "<null>";
        cuxiaojia = 0;
        favnum = 4;
        id = 99897417;
        "is_completed" = 1;
        "is_fufei" = 0;
        "is_recommend" = 1;
        "is_removed" = 0;
        program = "";
        questionnum = 8;
        "require_login" = 0;
        title = "\U6d4b\U662f\U4ec0\U4e48\U4e3b\U5bfc\U4e86\U4f60\U7684\U5927\U8111\Uff1f";
        type = trend;
        viewnum = 146036;
        "viewnum_add" = 0;
        yuanjia = 0;
        },
        {
        "absolute_url" = "http://m.xinli001.com/ceshi/99897376/";
        "ad_title1" = "";
        "ad_title2" = "";
        "ad_url1" = "";
        "ad_url2" = "";
        category = "\U7231\U60c5\U6d4b\U8bd5";
        "category_id" = 1;
        "category_main_id" = 0;
        "choice_type" = 1;
        commentnum = 198;
        content = "\U4e00\U4e2a\U4eba\U7684\U9b45\U529b\U4e0e\U5176\U60c5\U611f\U80fd\U529b\U4e0e\U793e\U4ea4\U80fd\U529b\U6709\U5f88\U5927\U7684\U5173\U7cfb\U3002\U5f88\U591a\U4eba\U90fd\U8ba4\U4e3a\U9b45\U529b\U662f\U4e0a\U5929\U7ed9\U4e00\U5c0f\U90e8\U5206\U5e78\U8fd0\U7684\U4eba\U7684\U7279\U6b8a\U9988\U8d60\U3002\U7136\U800c\Uff0c\U5173\U4e8e\U9b45\U529b\U7684\U8c03\U67e5\U7814\U7a76\U8868\U660e\Uff0c\U4e00\U4e2a\U4eba\U7684\U9b45\U529b\U662f\U53ef\U4ee5\U88ab\U6d4b\U91cf\U7684\Uff0c\U4e14\U6709\U4e00\U4e9b\U57fa\U672c\U56e0\U7d20\U662f\Uff0c\U8fd9\U4e9b\U56e0\U7d20\U88ab\U7edf\U79f0\U4e3a\U201c\U9b45\U529b\U5546\U6570\U201d\Uff08Charisma Quotient\Uff09\U3002\U60f3\U77e5\U9053\U4f60\U5728\U4e0e\U4eba\U4ea4\U5f80\U65f6\U80fd\U591f\U5c55\U73b0\U51fa\U81ea\U5df1\U7684\U591a\U5c11\U9b45\U529b\U5417\Uff1f\U6d4b\U6d4b\U770b\U5427\Uff01";
        cover = "http://image.xinli001.com/20150817/145513580687d07859dff8.jpg";
        created = "2015-08-17 14:57";
        "cuxiao_time" = "<null>";
            cuxiaojia = 0;
            favnum = 2;
            id = 99897376;
            "is_completed" = 1;
            "is_fufei" = 0;
            "is_recommend" = 1;
            "is_removed" = 0;
            program = "";
            questionnum = 25;
            "require_login" = 0;
            title = "\U6d4b\U6d4b\U4f60\U7684\U4eba\U9645\U9b45\U529b\U6307\U6570\U662f\U591a\U5c11\Uff1f";
            type = trend;
            viewnum = 218464;
            "viewnum_add" = 0;
            yuanjia = 0;
            },
            {
            "absolute_url" = "http://m.xinli001.com/ceshi/99897392/";
            "ad_title1" = "";
            "ad_title2" = "";
            "ad_url1" = "";
            "ad_url2" = "";
            category = "\U7231\U60c5\U6d4b\U8bd5";
            "category_id" = 1;
            "category_main_id" = 0;
            "choice_type" = 0;
            commentnum = 219;
            content = "\U5f53\U4f60\U604b\U7231\U4e86\Uff0c\U5b83\U4f1a\U6210\U4e3a\U4f60\U751f\U6d3b\U4e2d\U6700\U91cd\U8981\U7684\U90a3\U4ef6\U4e8b\U60c5\U5417\Uff1f\U4f60\U4f1a\U56e0\U4e3a\U604b\U7231\U628a\U5176\U4ed6\U4e8b\U60c5\U90fd\U63a8\U5ef6\U5417\Uff1f\U5728\U604b\U7231\U8fc7\U7a0b\U4e2d\Uff0c\U4f60\U662f\U5168\U8eab\U5fc3\U7684\U4eab\U53d7\U5417\Uff1f\Uff08\U56fe\U7247\U6765\U6e90\Uff1astuff-about\Uff09";
            cover = "http://image.xinli001.com/20150908/1750003e099680719aeebe.jpg";
            created = "2015-09-08 17:43";
            "cuxiao_time" = "<null>";
                cuxiaojia = 0;
                favnum = 5;
                id = 99897392;
                "is_completed" = 1;
                "is_fufei" = 0;
                "is_recommend" = 1;
                "is_removed" = 0;
                program = "";
                questionnum = 13;
                "require_login" = 0;
                title = "\U6d4b\U4f60\U604b\U7231\U65f6\U6709\U591a\U6295\U5165\Uff1f";
                type = jump;
                viewnum = 1297526;
                "viewnum_add" = 0;
                yuanjia = 0;
                }
                );
                }
