{
code = 0;
data =     (
{
"absolute_url" = "http://m.xinli001.com/ceshi/99897392/";
"ad_title1" = "";
"ad_title2" = "";
"ad_url1" = "";
"ad_url2" = "";
category = "\U7231\U60c5\U6d4b\U8bd5";
"category_id" = 1;
"category_main_id" = 0;
"choice_type" = 0;
commentnum = 218;
content = "\U5f53\U4f60\U604b\U7231\U4e86\Uff0c\U5b83\U4f1a\U6210\U4e3a\U4f60\U751f\U6d3b\U4e2d\U6700\U91cd\U8981\U7684\U90a3\U4ef6\U4e8b\U60c5\U5417\Uff1f\U4f60\U4f1a\U56e0\U4e3a\U604b\U7231\U628a\U5176\U4ed6\U4e8b\U60c5\U90fd\U63a8\U5ef6\U5417\Uff1f\U5728\U604b\U7231\U8fc7\U7a0b\U4e2d\Uff0c\U4f60\U662f\U5168\U8eab\U5fc3\U7684\U4eab\U53d7\U5417\Uff1f\Uff08\U56fe\U7247\U6765\U6e90\Uff1astuff-about\Uff09";
cover = "http://image.xinli001.com/20150908/1750003e099680719aeebe.jpg";
created = "2015-09-08 17:43";
"cuxiao_time" = "<null>";
    cuxiaojia = 0;
    favnum = 5;
    id = 99897392;
    "is_completed" = 1;
    "is_fufei" = 0;
    "is_recommend" = 1;
    "is_removed" = 0;
    program = "";
    questionnum = 13;
    "require_login" = 0;
    title = "\U6d4b\U4f60\U604b\U7231\U65f6\U6709\U591a\U6295\U5165\Uff1f";
    type = jump;
    viewnum = 1296527;
    yuanjia = 0;
    },
    {
    "absolute_url" = "http://m.xinli001.com/ceshi/1822/";
    "ad_title1" = "";
    "ad_title2" = "";
    "ad_url1" = "";
    "ad_url2" = "";
    category = "\U6027\U683c\U6d4b\U8bd5";
    "category_id" = 2;
    "category_main_id" = 0;
    "choice_type" = 1;
    commentnum = 2299;
    content = "\U9762\U5177\U4e0b\U7684\U4e2a\U4eba\U624d\U6700\U771f\U5b9e\U3002\U793e\U4f1a\U5fc3\U7406\U5b66\U5bb6\U7b11\U4f83\U6bcf\U4e2a\U4eba\U7684\U5bb6\U91cc\U90fd\U7f6e\U6709\U4e00\U4e2a\U9762\U5177\U8863\U67dc\Uff0c\U4ee5\U626e\U6f14\U4e0d\U540c\U7684\U89d2\U8272\Uff0c\U5e94\U5bf9\U4e0d\U540c\U7684\U9700\U8981\U548c\U8d23\U4efb\U3002\U6240\U4ee5\Uff0c\U5f53\U4f60\U6458\U4e0b\U6240\U6709\U7684\U9762\U5177\Uff0c\U4f60\U7684\U6027\U683c\U5448\U73b0\U54ea\U79cd\U7279\U8d28\U5462\Uff1f\U672c\U9898\U544a\U8bc9\U4f60\U7b54\U6848\U3002";
    cover = "http://image.xinli001.com/20140423/105909fbcb99a26c449a21.jpg";
    created = "2014-04-23 10:35";
    "cuxiao_time" = "<null>";
        cuxiaojia = 0;
        favnum = 32;
        id = 1822;
        "is_completed" = 1;
        "is_fufei" = 0;
        "is_recommend" = 1;
        "is_removed" = 0;
        program = "";
        questionnum = 13;
        "require_login" = 0;
        title = "\U6d4b\U4f60\U6027\U683c\U6700\U771f\U5b9e\U7684\U4e00\U9762";
        type = score;
        viewnum = 1286027;
        yuanjia = 0;
        },
        {
        "absolute_url" = "http://m.xinli001.com/ceshi/99897391/";
        "ad_title1" = "";
        "ad_title2" = "";
        "ad_url1" = "";
        "ad_url2" = "";
        category = "\U7231\U60c5\U6d4b\U8bd5";
        "category_id" = 1;
        "category_main_id" = 0;
        "choice_type" = 0;
        commentnum = 212;
        content = "\U6211\U4eec\U7684\U601d\U7ef4\U6a21\U5f0f\Uff0c\U8ba9\U6211\U4eec\U5bb9\U6613\U9677\U5165\U67d0\U79cd\U7279\U6709\U7684\U60c5\U7eea\U91cc\U3002\U7279\U522b\U662f\U5f53\U751f\U6d3b\U4e8b\U4ef6\U9891\U9891\U767b\U5802\U5165\U5ba4\Uff0c\U81ea\U5df1\U7684\U5fc3\U7406\U9632\U7ebf\U53d8\U5f31\U7684\U65f6\U5019\Uff0c\U6211\U4eec\U4fbf\U66f4\U5bb9\U6613\U9677\U5165\U3002\U90a3\U4e48\Uff0c\U4f60\U5bf9\U54ea\U79cd\U8d1f\U6027\U60c5\U7eea\U66f4\U6613\U611f\U5462\Uff1f\U8fd9\U4e2a\U6d4b\U8bd5\U5e26\U4f60\U53d1\U73b0\U7b54\U6848\U3002\Uff08\U56fe\U7247\U6765\U6e90\Uff1adesigntnt\Uff09";
        cover = "http://image.xinli001.com/20150907/1746501efbc98148b05892.jpg";
        created = "2015-09-07 17:41";
        "cuxiao_time" = "<null>";
            cuxiaojia = 0;
            favnum = 6;
            id = 99897391;
            "is_completed" = 1;
            "is_fufei" = 0;
            "is_recommend" = 1;
            "is_removed" = 0;
            program = "";
            questionnum = 8;
            "require_login" = 0;
            title = "\U6d4b\U4f60\U5bb9\U6613\U9677\U5165\U81ea\U5df1\U7684\U54ea\U79cd\U60c5\U7eea\U91cc\Uff1f";
            type = jump;
            viewnum = 1252736;
            yuanjia = 0;
            },
            {
            "absolute_url" = "http://m.xinli001.com/ceshi/99897390/";
            "ad_title1" = "";
            "ad_title2" = "";
            "ad_url1" = "";
            "ad_url2" = "";
            category = "\U80fd\U529b\U6d4b\U8bd5";
            "category_id" = 3;
            "category_main_id" = 0;
            "choice_type" = 2;
            commentnum = 98;
            content = "\U5728\U5de5\U4f5c\U4e2d\Uff0c\U6bcf\U4e2a\U4eba\U770b\U91cd\U7684\U90fd\U4e0d\U4e00\U6837\U3002\U6bcf\U4e2a\U4eba\U5728\U5de5\U4f5c\U4e2d\U90fd\U6709\U7740\U4e0d\U540c\U7684\U4ef7\U503c\U89c2\Uff0c\U5e76\U4e14\U5728\U5de5\U4f5c\U65f6\U9700\U8981\U4e0d\U540c\U7684\U4e1c\U897f\U8ba9\U4ed6\U4eec\U611f\U5230\U6ee1\U610f\U548c\U5145\U8db3\U3002\U4e86\U89e3\U81ea\U5df1\U7684\U5de5\U4f5c\U52a8\U673a\Uff0c\U4f60\U53ef\U4ee5\U89c4\U5212\U4e00\U4e2a\U66f4\U5145\U5b9e\U548c\U5bcc\U6709\U6210\U6548\U7684\U804c\U4e1a\U751f\U6daf\Uff0c\U5e76\U521b\U5efa\U4e00\U4e2a\U53ef\U4ee5\U8ba9\U4f60\U8301\U58ee\U6210\U957f\U7684\U5de5\U4f5c\U73af\U5883\U3002\Uff08\U56fe\U7247\U6765\U6e90\Uff1aanswers\Uff09";
            cover = "http://image.xinli001.com/20150906/180313609e2cc1c47c945e.jpg";
            created = "2015-09-06 17:56";
            "cuxiao_time" = "<null>";
                cuxiaojia = 0;
                favnum = 6;
                id = 99897390;
                "is_completed" = 1;
                "is_fufei" = 0;
                "is_recommend" = 1;
                "is_removed" = 0;
                program = "";
                questionnum = 20;
                "require_login" = 0;
                title = "\U6d4b\U4f60\U6700\U60f3\U8981\U7684\U662f\U4ec0\U4e48\Uff1a\U804c\U573a\U52a8\U673a\U6d4b\U8bd5";
                type = fenlei;
                viewnum = 1227001;
                yuanjia = 0;
                },
                {
                "absolute_url" = "http://m.xinli001.com/ceshi/99897393/";
                "ad_title1" = "";
                "ad_title2" = "";
                "ad_url1" = "";
                "ad_url2" = "";
                category = "\U4f1a\U5458\U6d4b\U8bd5";
                "category_id" = 4;
                "category_main_id" = 0;
                "choice_type" = 2;
                commentnum = 807;
                content = "\U8bf4\U5230\U4eba\U683c\U53d1\U5c55\U7406\U8bba\Uff0c\U6ce8\U91cd\U7ae5\U5e74\U7ecf\U5386\U7684\U5f17\U6d1b\U4f0a\U5fb7\U5927\U795e\Uff0c\U5c06\U513f\U7ae5\U4eba\U683c\U53d1\U5c55\U5206\U4e3a\U4e0d\U540c\U7684\U56db\U4e2a\U9636\U6bb5\Uff0c\U5e76\U8ba4\U4e3a\U8fd9\U4f1a\U5f71\U54cd\U6211\U4eec\U6210\U5e74\U540e\U7684\U4eba\U683c\U3002\U60f3\U77e5\U9053\U4f60\U5c5e\U4e8e\U5f17\U6d1b\U4f0a\U5fb7\U4eba\U683c\U7406\U8bba\U4e2d\U7684\U54ea\U79cd\U6027\U683c\U5417\Uff1f\U505a\U4e2a\U6d4b\U8bd5\U5427\Uff01\Uff08\U56fe\U7247\U6d4b\U8bd5\Uff1aquerodesenho\Uff09";
                cover = "http://image.xinli001.com/20150909/172457e0844f53454ad866.jpg";
                created = "2015-09-09 17:23";
                "cuxiao_time" = "<null>";
                    cuxiaojia = 0;
                    favnum = 8;
                    id = 99897393;
                    "is_completed" = 1;
                    "is_fufei" = 0;
                    "is_recommend" = 1;
                    "is_removed" = 0;
                    program = "";
                    questionnum = 20;
                    "require_login" = 1;
                    title = "\U5f17\U6d1b\U4f0a\U5fb7\U6027\U683c\U6d4b\U8bd5";
                    type = fenlei;
                    viewnum = 1226748;
                    yuanjia = 0;
                    },
                    {
                    "absolute_url" = "http://m.xinli001.com/ceshi/99897395/";
                    "ad_title1" = "";
                    "ad_title2" = "";
                    "ad_url1" = "";
                    "ad_url2" = "";
                    category = "\U7231\U60c5\U6d4b\U8bd5";
                    "category_id" = 1;
                    "category_main_id" = 0;
                    "choice_type" = 0;
                    commentnum = 158;
                    content = "\U6b64\U7f18\U53ea\U5e94\U5929\U4e0a\U6709\Uff0c\U4eba\U95f4\U80fd\U5f97\U51e0\U56de\U95fb\U3002\U6709\U65f6\U5019\U7f18\U5206\U4e00\U5230\U4f3c\U4e4e\U60f3\U907f\U90fd\U907f\U4e0d\U4e86\U3002\U7f18\U5206\U662f\U4e2a\U5f88\U5947\U5999\U7684\U4e1c\U897f\Uff0c\U53ef\U4ee5\U8ba9\U4e24\U4e2a\U964c\U751f\U4eba\U4e00\U8d77\U76f8\U77e5\U5230\U76f8\U7231\Uff0c\U4e0d\U8fc7\U6709\U4e9b\U65f6\U5019\U76f8\U7231\U4e86\U5374\U4e0d\U80fd\U767d\U5934\U5055\U8001\Uff0c\U8fd9\U5c31\U662f\U6709\U7f18\U65e0\U5206\U7684\U4f53\U73b0\U3002\U60f3\U77e5\U9053\U4f60\U5bb9\U6613\U83b7\U5f97\U600e\U6837\U7684\U7f18\U5206\U5417\Uff1f\U7f18\U5206\U6d4b\U8bd5\U7b49\U7740\U4f60\U3002\Uff08\U56fe\U7247\U6765\U6e90\Uff1agoodmenproject\Uff09";
                    cover = "http://image.xinli001.com/20150911/1943515a80b886522ff840.jpg";
                    created = "2015-09-11 19:36";
                    "cuxiao_time" = "<null>";
                        cuxiaojia = 0;
                        favnum = 3;
                        id = 99897395;
                        "is_completed" = 1;
                        "is_fufei" = 0;
                        "is_recommend" = 1;
                        "is_removed" = 0;
                        program = "";
                        questionnum = 20;
                        "require_login" = 0;
                        title = "\U5973\U6027\Uff1a\U6d4b\U6d4b\U4f60\U5bb9\U6613\U83b7\U5f97\U600e\U6837\U7684\U7f18\U5206\Uff1f";
                        type = jump;
                        viewnum = 1173474;
                        yuanjia = 0;
                        },
                        {
                        "absolute_url" = "http://m.xinli001.com/ceshi/99897394/";
                        "ad_title1" = "";
                        "ad_title2" = "";
                        "ad_url1" = "";
                        "ad_url2" = "";
                        category = "\U6027\U683c\U6d4b\U8bd5";
                        "category_id" = 2;
                        "category_main_id" = 0;
                        "choice_type" = 0;
                        commentnum = 183;
                        content = "\U5514\Uff0c\U4f3c\U4e4e\U5728\U6211\U4eec\U7684\U5b66\U751f\U65f6\U5019\U9700\U8981\U9002\U5e94\U5404\U79cd\U8001\U5e08\Uff0c\U4f46\U8bf4\U5230\U5fc3\U60a6\U8bda\U670d\Uff0c\U5230\U5e95\U54ea\U79cd\U8001\U5e08\U624d\U80fd\U771f\U6b63Hold\U4f4f\U4f60\U5462\Uff1f\U8ba9\U6d4b\U8bd5\U6765\U5e2e\U4f60\U53d1\U73b0\U7b54\U6848\U5427\U3002";
                        cover = "http://image.xinli001.com/20150910/114735d306569552ab5136.jpg";
                        created = "2015-09-10 11:11";
                        "cuxiao_time" = "<null>";
                            cuxiaojia = 0;
                            favnum = 6;
                            id = 99897394;
                            "is_completed" = 1;
                            "is_fufei" = 0;
                            "is_recommend" = 1;
                            "is_removed" = 0;
                            program = "";
                            questionnum = 10;
                            "require_login" = 0;
                            title = "\U6559\U5e08\U8282\Uff1a\U6d4b\U54ea\U79cd\U8001\U5e08\U624d\U80fd\U771f\U6b63Hold\U4f4f\U4f60\Uff1f";
                            type = jump;
                            viewnum = 1149056;
                            yuanjia = 0;
                            },
                            {
                            "absolute_url" = "http://m.xinli001.com/ceshi/385/";
                            "ad_title1" = "";
                            "ad_title2" = "";
                            "ad_url1" = "";
                            "ad_url2" = "";
                            category = "\U7231\U60c5\U6d4b\U8bd5";
                            "category_id" = 1;
                            "category_main_id" = 0;
                            "choice_type" = 1;
                            commentnum = 886;
                            content = "\U4f60\U4e86\U89e3\U81ea\U5df1\U7684\U6027\U53d6\U5411\U5417\Uff1f\U6765\U505a\U4e2a\U6027\U53d6\U5411\U6d4b\U8bd5\U5427\U3002\U770b\U770b\U4f60\U662f\U4e0d\U662f\U5b58\U5728\U540c\U6027\U604b\U7684\U6f5c\U8d28\U800c\U4e0d\U81ea\U77e5\U5462\Uff1f\U8fd8\U662f\U66f4\U9002\U5408\U4e0e\U540c\U6027\U6765\U4e2a\U7cbe\U795e\U4ea4\U5f80\Uff1f\U522b\U7d27\U5f20\Uff0c\U591a\U591a\U4e86\U89e3\U81ea\U5df1\U5176\U5b9e\U5f88\U91cd\U8981\U3002";
                            cover = "http://imagexinli.b0.upaiyun.com/ceshi/20120217/20120217111109.jpg";
                            created = "2012-02-17 11:06";
                            "cuxiao_time" = "<null>";
                                cuxiaojia = 0;
                                favnum = 5;
                                id = 385;
                                "is_completed" = 1;
                                "is_fufei" = 0;
                                "is_recommend" = 1;
                                "is_removed" = 0;
                                program = "";
                                questionnum = 15;
                                "require_login" = 0;
                                title = "\U6d4b\U6d4b\U4f60\U7684\U540c\U6027\U604b\U6f5c\U8d28";
                                type = score;
                                viewnum = 1141562;
                                yuanjia = 0;
                                },
                                {
                                "absolute_url" = "http://m.xinli001.com/ceshi/99897397/";
                                "ad_title1" = "";
                                "ad_title2" = "";
                                "ad_url1" = "";
                                "ad_url2" = "";
                                category = "\U80fd\U529b\U6d4b\U8bd5";
                                "category_id" = 3;
                                "category_main_id" = 0;
                                "choice_type" = 1;
                                commentnum = 344;
                                content = "\U547d\U4e2d\U6ce8\U5b9a\Uff0c\U4f60\U662f\U8be5\U6210\U4e3a\U533b\U751f\U8fd8\U662f\U6253\U5b57\U5458?\U5728\U4f60\U672c\U80fd\U597d\U597d\U53bb\U6559\U4e66\U7684\U65f6\U5019\Uff0c\U4e3a\U4ec0\U4e48\U9009\U62e9\U4e86\U53bb\U5356\U4e66?\U505a\U505a\U4e0b\U9762\U7684\U804c\U4e1a\U6d4b\U8bd5\Uff0c\U4e5f\U8bb8\U80fd\U5e2e\U4f60\U51b3\U5b9a\U8be5\U6cbf\U7740\U54ea\U4e00\U6761\U804c\U4e1a\U9053\U8def\U524d\U8fdb\U3002\Uff08\U56fe\U7247\U6765\U6e90\Uff1aew\Uff09";
                                cover = "http://image.xinli001.com/20150915/11004949d2cd68006371a5.jpg";
                                created = "2015-09-15 10:58";
                                "cuxiao_time" = "<null>";
                                    cuxiaojia = 0;
                                    favnum = 15;
                                    id = 99897397;
                                    "is_completed" = 1;
                                    "is_fufei" = 0;
                                    "is_recommend" = 1;
                                    "is_removed" = 0;
                                    program = "";
                                    questionnum = 11;
                                    "require_login" = 0;
                                    title = "\U6d4b\U6d4b\U4f60\U6700\U9002\U5408\U5e72\U4ec0\U4e48\U6837\U7684\U5de5\U4f5c\Uff1f";
                                    type = trend;
                                    viewnum = 1129978;
                                    yuanjia = 0;
                                    },
                                    {
                                    "absolute_url" = "http://m.xinli001.com/ceshi/1738/";
                                    "ad_title1" = "";
                                    "ad_title2" = "";
                                    "ad_url1" = "";
                                    "ad_url2" = "";
                                    category = "\U6027\U683c\U6d4b\U8bd5";
                                    "category_id" = 2;
                                    "category_main_id" = 0;
                                    "choice_type" = 0;
                                    commentnum = 792;
                                    content = "\U793e\U4f1a\U5b66\U5bb6\U7c73\U5fb7\U8ba4\U4e3a\Uff0c\U81ea\U6211\U53ef\U5206\U4e3a\U201c\U4e3b\U6211\U201d\U548c\U201c\U5ba2\U6211\U201d\U4e24\U4e2a\U90e8\U5206\U3002\U81ea\U5df1\U773c\U4e2d\U7684\U81ea\U5df1\Uff0c\U4e0e\U4ed6\U4eba\U773c\U4e2d\U7684\U81ea\U5df1\U5f80\U5f80\U5b58\U5728\U4e00\U5b9a\U7684\U504f\U5dee\U3002\U867d\U7136\Uff0c\U6211\U4eec\U53ef\U4ee5\U9ad8\U8c08\U201c\U6211\U53ea\U4e3a\U81ea\U5df1\U800c\U6d3b\U201d\Uff0c\U4f46\U7c73\U8001\U8ba4\U4e3a\Uff0c\U4eba\U683c\Uff08\U81ea\U6211\Uff09\U9700\U5728\U2018\U4e3b\U6211\U2019\U4e0e\U2018\U5ba2\U6211\U2019\U4e0d\U65ad\U4e92\U52a8\U7684\U8fc7\U7a0b\U4e2d\U5b8c\U6574\U3002\U6240\U4ee5\Uff0c\U60f3\U77e5\U9053\U5f53\U4e0b\Uff0c\U522b\U4eba\U773c\U4e2d\U4f60\U7684\U6837\U5b50\U5417\Uff1f\U8fc7\U6765\U6d4b\U6d4b\U5427\U3002";
                                    cover = "http://image.xinli001.com/20140403/103425006188e63ea506ce.jpg";
                                    created = "2014-04-03 10:07";
                                    "cuxiao_time" = "<null>";
                                        cuxiaojia = 0;
                                        favnum = 7;
                                        id = 1738;
                                        "is_completed" = 1;
                                        "is_fufei" = 0;
                                        "is_recommend" = 1;
                                        "is_removed" = 0;
                                        program = "";
                                        questionnum = 15;
                                        "require_login" = 0;
                                        title = "\U6d4b\U4f60\U5728\U522b\U4eba\U773c\U4e2d\U7684\U6a21\U6837";
                                        type = jump;
                                        viewnum = 1043899;
                                        yuanjia = 0;
                                        }
                                        );
                                    }